
    
    <section class="section-top-padding background-white">
        <div class="line text-center">
          <i class="icon-sli-heart text-primary text-size-40"></i>
          <h2 class="text-dark text-size-50 text-m-size-40"><b>Our Medical Services</b></h2>
          <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>
        <div class="line">
          <div class="margin2x">
            <div class="s-12 m-6 l-4 margin-bottom-60">
              <div class="float-left">
                
              </div>
              <div class="margin-left-60">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Dentisty</h3>
                <img src="assets\img\dental-fb.jpg" alt="">
                               
              </div>
            </div>
            <div class="s-12 m-6 l-4 margin-bottom-60">
              <div class="float-left">
                
              </div>
              <div class="margin-left-60">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Cardiology</h3>
                <img src="assets\img\cardiologist-West-Palm-Beach10.jpg" alt="">
                                
              </div>
            </div>
            <div class="s-12 m-6 l-4 margin-bottom-60">
              <div class="float-left">
                
              </div>
              <div class="margin-left-60">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">ENT Specialists</h3>
                <img src="assets\img\Ent.jpg" alt="">
                               
              </div>
            </div>
            <div class="s-12 m-6 l-4 margin-m-bottom-60">
              <div class="float-left">
                
              </div>
              <div class="margin-left-60">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Ortho</h3>
                 <img src="assets\img\ortho.jpg" alt="">                
              </div>
            </div>
            <div class="s-12 m-6 l-4 margin-m-bottom-60">
              <div class="float-left">
                <img src="assets/image/neuro.jpg" alt="">
              </div>
              <div class="margin-left-60">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Neuroanatomy</h3>
                <img src="assets\img\neuro.jpg" alt="">
                                
              </div>
            </div>
            <div class="s-12 m-6 l-4 margin-m-bottom-60">
              <div class="float-left">
                
              </div>
              <div class="margin-left-60">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Blood Screening</h3>
                <img src="assets\img\Blood-Screening-Market.jpg" alt="">
                               
              </div>
            </div>
          </div>
        </div>
      </section>    
    
    <section class="section-small-padding background-dark text-center">      
      <div class="line">
        <h2 class="text-white text-size-50 text-m-size-40 margin-bottom-20">Get <b>Free Version</b></h2>
        <div class="m-10 l-6 xl-4 center">
          <div class="margin">
            <a class="s-12 m-6 margin-s-bottom" href="/">
              <img class="full-img right" src="assets/img/google-play.svg" alt="">
            </a>
            <a class="s-12 m-6" href="/">
              <img class="full-img" src="assets/img/app-store.svg" alt="">
            </a>
          </div>
        </div>                                                                                               
      </div>       
    </section>     
    
  
